.contact {
    margin: 7vw;
    text-align: center;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}
.map-placeholder {
    width: 50vw;
    height: 350px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #cff7d3;
}
.consent-button {
    margin-top: 15px;
    padding: 10px 10px;
    background: var(--primary-text-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 500ms;
}
.consent-button:hover {
    transform: translateY(-3px);
    transition: 500ms;
}
.consent-button:active {
    transform: translateY(2px);
    transition: 200ms;
}
iframe {
    width: 50vw;
    height: 365px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.contact-info {
    background-color: #cff7d3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
span > a > img, span > span > img {
    width: 40px;
    height: 40px;
}
span > a, span > span {
    text-decoration: none;
    cursor: pointer;
}
span > a > span, span > span > span {
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: var(--primary-text-color);
}
#address {
    font-size: smaller;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: var(--primary-text-color);
}
footer {
    position: absolute;
    bottom: 0px;
}

@media only screen and (max-width: 700px) {
    .contact {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .contact > div {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        padding-bottom: 15px;
    }
    iframe {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px !important;
    }
    .map-placeholder {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px !important;
    }
    footer {
        top: 0px;
        position: absolute;
        margin-top: 800px;
    }
}