@font-face {
  font-family: "Inter";
  src: url("https://pe2-73134823.github.io/GreenEnergy-Solutions/assets/fonts/Inter_18pt-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
    --primary-text-color: black;
    --reverse-text-color: whitesmoke;
    --header-footer:  #142D21;
    --background-color-base: 250, 250, 250; /* used to be able to reference in gradient */
    --item-color: #cff7d3;
}
body {    
    margin-top: 0;
    margin-right: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(var(--background-color-base));
}
header {
    background-color: var(--header-footer);
    margin-left: -8px;
    display: flex;
    justify-content: space-between;
}
header > button {
    margin: 6px;
    margin-right: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    transition: all linear 80ms;
    cursor: pointer;
}
header > button > img {
    width: 30px;
    height: 30px;
}
header > button:hover {
    transform: translateY(-1px);
}
header > button:active {
    transform: translateY(2px);
}
.navigation {
    margin-top: 10px;
}
.navigation > a {
    text-decoration: none;
    color: var(--reverse-text-color);
    font-size: 150%;
    margin: 8px;
}
.navigation > a:hover {
    text-decoration: underline gray !important;
}
.currentTab {
    text-decoration: underline !important;
}
.banner {
    text-align: center;
    background-image: url("https://pe2-73134823.github.io/GreenEnergy-Solutions/assets/images/forest.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    max-height: 500px;
    position: absolute;
    left: 0;
    top: 52px;
    color: var(--reverse-text-color);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.banner > h1 {
    margin-top: 0px;
}
.banner > img {
    height: 30px;
    margin-top: -30px;
    margin-bottom: 10px;
}
.banner-gradient {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 15vh;
    background: rgb(var(--background-color-base));
    background: linear-gradient(0deg, rgba(var(--background-color-base), 1) 10%, rgba(var(--background-color-base), 0.4) 40%, rgba(var(--background-color-base), 0) 100%);
}
.banner-card {
    background-color: #000000bd;
    width: 80%;
    max-width: 400px;
    height: 100px;
    align-self: center;
    animation-duration: 1.5s;
    animation-name: small-slide-up;
    border-radius: 10px;
    display: flex;
    transition: 500ms;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
    color: var(--reverse-text-color);
}
.banner-card > img {
    aspect-ratio: 1/1;
    height: 100%;
    object-fit: cover;
    align-self: flex-start;
    justify-content: flex-start;
    opacity: 0.8;
    border-radius: 10px;
}
.banner-card > div {
    width: 100%;
    margin-top: 0px;
}
.banner-card > div > h2 {
    margin-top: 10px;
    font-size: medium;
}
.banner-card > div > p {
    margin-top: -10px;
}
.banner-card > div > img {
    margin-top: -15px;
    width: 20px;
    height: 20px;
    transition: 300ms;
}
.banner-card:hover > div > img {
    scale: 140% 140%;
    translate: 4px -4px;
    transition: 300ms;
}
.banner-card:hover {
  transform: translateY(-3px);
  transition: 500ms;
}
.banner-card:active {
  transform: translateY(2px);
  transition: 200ms;
}
@keyframes small-slide-up {
  from {
    translate: 0 7vh;
    scale: 100% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
h1 {
    font-weight: 400;
    font-size: 7vh;
    text-shadow: 0 0 20px black, 0 0 20px black, 0 0 20px black, 0 0 20px black;
}
.our-mission {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: -8px;
    margin-top: 500px;
    flex-direction: column;
    justify-content: start;
    align-content: stretch;
    align-items: center;
    color: var(--primary-text-color);
}
.our-mission > p {
    margin-top: 5px;
    width: 80%;
    max-width: 600px;
}
.newscards {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: -8px;
    margin-top: 800px;
    flex-direction: column;
    justify-content: start;
    align-content: stretch;
    align-items: center;
    color: var(--primary-text-color);
}
.newscard {
    background-color: var(--item-color);
    width: 80%;
    max-width: 400px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-radius: 10px;
    display: flex;
    transition: 500ms;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
    color: var(--text-color);
}
.newscard > img {
    aspect-ratio: 1/1;
    height: 100%;
    object-fit: cover;
    align-self: flex-start;
    justify-content: flex-start;
    opacity: 0.8;
    border-radius: 10px;
}
.newscard > div {
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: stretch;
    align-items: center;
}
.newscard > div > h3 {
    margin-top: 15px;
    font-size: medium;
}
.newscard > div > p {
    margin-top: -15px;
}
.newscard > div > img {
    margin-top: -7px;
    width: 20px;
    height: 20px;
    filter: invert();
    transition: 300ms;
}
.newscard:hover > div > img {
    scale: 140% 140%;
    translate: 4px -4px;
    transition: 300ms;
}
.newscard:hover {
  transform: translateY(-3px);
  transition: 500ms;
}
.newscard:active {
  transform: translateY(2px);
  transition: 200ms;
}
footer {
    position: absolute;
    margin-top: 1300px;
    color: var(--reverse-text-color);
    background-color: var(--header-footer);
    height: 200px;
    width: 100%;
    margin-left: -8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: stretch;
    align-items: center;
}
footer > div {
    display: grid;
    margin-left: 10px;
}
footer > div > div {
    padding: 1em;
    color: var(--reverse-text-color);
    list-style: none;
}
footer > div > div > ul {
    list-style: none;
    padding: 0px;
}
footer > div > div > ul > li {
    margin-bottom: 7px;
}
footer > div > div > ul > li > a {
    color: var(--reverse-text-color);
    text-decoration: none;
}
footer > a {
    color: var(--reverse-text-color);
    text-decoration: none;
    margin-bottom: -15px;
}
.col1 {
    grid-column: 1;
}
.col2 {
    grid-column: 2;
}
.col3 {
    grid-column: 3;
}

@media only screen and (max-width: 500px) {
    .navigation {
        margin-top: 13px;
    }
    .navigation > a {
        font-size: 115%;
        margin: 2px;
    }
    h3 {
        font-size: 2vh;
    }
    .newscards {
        margin-top: 1000px;
    }
    footer {
        margin-top: 1450px;
    }
}